*{
    font-family:'Roboto',sans-serif;
    margin:0;
    padding:0;}

body{

}

.contenedor-principal{
    background:#F6F8F9;
}

.contenedor-nav{
    background:#fff;
}

.contenedor-nav > div,.contenedor-nav{
    border-bottom:1px solid #eee;
}

.navbar-main{
    margin:0 auto;
    max-width:1192px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

.navbar-secondary{
    max-width:1192px;
    margin:0 auto;
    padding:12px 0;
}

.navbar-secondary ul{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    padding:0;
}

.navbar-secondary ul li{
    list-style-type:none;
}

.navbar-secondary ul li a{
    text-decoration:none;
    color:#000;
    margin-right:25px;
    padding:0px 20px 9px 20px;
    transition:all 0.2s ease;
}

.navbar-secondary ul li a.active{
    border-bottom:3px solid #5eb5e6;

}

.navbar-secondary ul li a:hover{
    border-bottom:3px solid #5eb5e6;
}

.logo img,.avatar img{
    max-width:50px;
}

.separador{
    padding:20px 0;
}

.navbar-main .menu{
    flex-grow:1;
    flex-basis:50%;
}

.navbar-main .logo,.navbar-main .avatar{
    flex-grow:1;
    flex-basis:6%;
}

.navbar-main .buscador,.navbar-main .iconos{
    flex-grow:1;
    flex-basis:19%;
}

.avatar{
    display:flex;
    justify-content:flex-end;
}

.buscador{
    display:flex;
    justify-content:center;
}

.iconos{
    display:flex;
    justify-content:space-around;
}



.buscador input{
    border-radius:20px;
    box-shadow:0;
    border:1px solid #eee;
    padding:8px;
}

.buscador input::after{
    -webkit-font-feature-settings: 'liga';
    font-family:'Material Icons';
    content:"link";
    display:block;
    width:15px;
    height:15px;
}

.separador.menu{
    border-right:1px solid #eee;
    border-left:1px solid #eee;
}

.separador.logo{
    border-right:1px solid #eee;
}

.separador.avatar{
    border-left:1px solid #eee;    
}

.menu ul{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:0;
}


.menu ul li{
    list-style-type:none;
}

.menu ul li a{
    font-weight:400;
    text-decoration:none;
    color:#000;
    position:relative;
    top:0;
    transition:.2s;
}

.menu ul li a:hover,.iconos i:hover{
    top:-3px;
}

.menu ul li a.destacado{
    color:#ff6f5e;
}

.iconos .mensaje{
    color:#2bcd71;
}

.iconos i{
    position:relative;
    transition:.2s;
    top:0;
    cursor:pointer;
}

.iconos .notificacion{
    color:#f1c40f;
}

.iconos .agregar{
    color:#9b58b6;
}

.avatar img{
    border-radius:100%;
}

.contenedor-contenido{
    margin:30px auto;
    display:flex;
    flex-direction:row;
    max-width:1192px;
    justify-content:space-between;
}

aside.sidebar-left{
    background-color:#fff;
    border:1px solid #eee;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    padding-top:20px;
    flex-basis:15%;
    flex-grow:0;
    height:fit-content;
    position:sticky;
    top:20px;
}



aside.sidebar-right{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    flex-basis:15%;
    flex-grow:0;    
    position:sticky;
    top:20px;
    height:fit-content;
}



.sidebar-left img{
    max-width:100px;
    border-radius:100%;
}

.small{
    font-size:0.75em;
}

.sidebar-left p{
    margin:0;
}

.sidebar-left p.location{
    color:#bbb;
}

.sidebar-right h4{
    font-weight:300;
    margin-bottom:20px;
}

.sidebar-right .influencers{
    margin-top:40px;
}

.influencer-particular{
    display:flex;
    flex-direction:row;
    align-items:center;
    text-align:center;
}

.influencer-particular p{
    color:#777;
}

.influencer-particular img{
    width:100%;
    border-radius:100%;
    margin-bottom:10px;
}

.sidebar-right .people-particular{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-bottom:15px;
}

.people-particular img{
    width:40px;
    margin-right:20px;
    border-radius:100%;
}

.button{
    border:0;
    box-shadow:none;
    border-radius:30px;
    display:block;
    text-align:center;
    width:80%;
    padding:10px;
    margin-top:10px;
    cursor:pointer;
    transition:all 0.2s ease;
}

.fill{
    background-color:#5eb5e6;
    color:#fff;
}

.fill:hover{
    background-color:#0077B5;
}

.outline{
    border:1px solid #5eb5e6;
    background-color:rgba(0,0,0,0);
    color:#5eb5e6;
}

.outline:hover{
    background-color:#efefef;
}

.see-all{
    width:auto;
    display:inline-block;
    margin-left:20px;
    margin-top:25px;
}

.button i{
    font-size:12px;
}

.numeros{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.numeros div{
    flex-basis:0;
    flex-grow:1;
    text-align:center;
    margin-top:15px;
    padding:15px 0;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}

.links,.export{
    padding:25px 0;
    border-bottom:1px solid #eee;
    width:100%;
}

.links i,.export i{
    font-size:1em;
}




.links a,.export a{
    color:#a9a9a9;
    display:flex;
    flex-direction:row;
    align-items:center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:80%;
    margin:0 auto;
    display:block;
    font-weight:300;
    text-decoration: none;
    font-size:0.9em;
}

.links a:hover,.export a:hover{
    text-decoration:underline;
}

.numeros div:first-child{
    border-right:1px solid #eee;
}

.numeros div:last-child{
    border-left:1px solid #eee;
}

.numeros div p:first-child{
    font-weight:700;
}

.numeros div p:last-child{
    color:#bbb;
    font-weight:300;
}


main{
    flex-grow:0;
    flex-basis:60%;
}

main .latest-posts{
    background-color:#fff;
    border:1px solid #eee;
    padding-bottom:30px;
}

main .background, main .recommendations,main .following{
    background-color:#fff;
    border:1px solid #eee;
    margin-top:30px;
    padding-bottom:30px;  
}

.latest-posts h4{
    font-weight:400;
    margin-bottom:0;
}

.summary,.experience,.education,.skills,.interests{
    box-sizing:border-box;
    padding:0 20px;
    display:flex;
    flex-direction:row;
    margin-top:25px;
}

.texto{
    flex-basis:100%;
}

.habilidad{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-bottom:15px;
}

.habilidad .users{
    margin-left:auto;
    display:flex;
    flex-direction:row;
    flex-basis: 35%;
    justify-content: space-around;
}

.habilidad .cantidad{
    border:1px solid #000;
    border-radius:100%;
    width:30px;
    height:30px;
    padding:5px;
    display:flex;
    margin-right:15px;
    align-items:center;
    justify-content:center;
}

.habilidad .users .restante{
    border:1px solid #000;
    border-radius:100%;
    width:40px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.habilidad img{
    width:40px;
    border-radius:100%;
}

.experience p{
    color:#777;
}

.experience a,.education a{
    color:#5eb5e6;
    text-decoration:none;
}

.experience .puesto,.education .puesto{
    padding-bottom:20px;
    position:relative;
    margin-left:12px;
}

.puesto a:hover,.following-content a:hover{
    text-decoration:underline;
}


.puesto:before{
    content:"";
    width:6px;
    height:6px;
    background-color:#fff;
    border-radius:100%;
    border:1px solid #ccc;
    display:block;
    position:relative;
    left:-12px;
    z-index:2;
    top:10px;
}

.puesto.uno:after{
    content:"";
    width:2px;
    height:100%;
    background-color:#eee;
    display:block;
    position:absolute;
    left:-9px;
    z-index:1;
    top:10px;
}

.experience .puesto:first-child{
    margin-top:10px;
}

.experience h4,.education h4{
    font-weight:300;
    margin:5px 0;
}

.background .ico{
    margin-right:15px;
}

.summary h2, .experience h2,.education h2,.skills h2,.interests h2{
    font-weight:300;
    margin-bottom:10px;
}

.intereses{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
}

.intereses p{
    cursor:pointer;
    padding:8px;
    background-color:#eee;
    margin-right:10px;
    font-weight:300;
}

.latest-posts .header, .background h3,.recommendations .header,.following .header{
    padding:15px;
    border-bottom:1px solid #eee;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.posts{
    margin-top:15px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

article{
    cursor:pointer;
}

article:hover h4{
    text-decoration:underline;
}

.posts article img{
    max-width:100%;
}

.posts article p{
    font-weight:300;
    color:#777;
}

.posts article,.recommendations article{
    flex-basis:28%;
}

.following-content{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:20px;
}

.following article{
    flex-basis:20%;
    font-weight:300;
}


.following article img{
    width:100%;
    box-sizing:border-box;
    padding:10px;
    border:1px solid #eee;
    margin-bottom:10px;
}

.following article i{
    border:1px solid #5eb5e6;
    border-radius:100%;
    margin-right:10px;
    font-size:12px;
}

.following article a{
    margin-top:5px;
    text-decoration:none;
    color:#5eb5e6;
    display:flex;
    align-items:center;
}

.recommendations-content article p:first-child{
    border:1px solid #eee;
    padding:15px;

}

.recommendations-content article img{
    width:40px;
    border-radius:100%;
}

.recommendations-content{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:20px;
}

.recommendations-content .user{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-top:10px;
}

.recommendations-content .user p,.people-particular p{
    font-weight:700;
    margin-left:10px;
}

.recommendations-content .user p span,.people-particular p span{
    font-weight:400;
    color:#777;
}


.slider i{
    color:#000;
    border-radius:100%;
    border:1px solid #000;
    cursor:pointer;
    transition:all 0.2s ease;
}

.slider i:first-child{
    margin-right:10px;
}

.slider i:hover{
    background-color:rgba(0,0,0,0.1);
}

.slider i:active{
    background-color:rgba(0,0,0,0.2);
}

footer{
    padding-top:10px;
    border-top:1px solid #eee;
    text-align:center;
    margin-bottom:15px;
}