*{
    margin:0;
    padding:0;
    font-family:'Roboto',sans-serif;
}

$sm:768px;


@mixin flex($type){
    display:flex;
    flex-direction:$type;
}

.main-container{
    width:100%;
    height:100vh;
    @include flex(row);
    background-image:url('img/background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    padding:15px;
    box-sizing:border-box;
    position:relative;

    .steps{
        color:#fff;
        @include flex(column);
        height:100%;
        justify-content:space-between;
        text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
        cursor:pointer;

        .step-up,.step-down{
            text-align:center;
        }

        p{
            font-size:1.2em;
        }
    }

    .post{
        @include flex(column);
        height:100%;
        width:100%;
        justify-content:space-between;
        align-items:center;
        cursor:pointer;
        margin-left:auto;
        position:relative;
        z-index:100;
        position:absolute;
        top:0;
        left:0;

        @media(min-width:$sm){
            align-items:flex-end;
            margin-left:auto;
            position:relative;
            position:relative;
            width:auto;
        }

        .read,.views{
            @include flex(row);
            align-items:center;
            font-size:1.2em;
        }

        .read{
            img{
                margin-left:10px;
            }
        }

        .views{
            p{
                margin-left:10px;
            }
        }
    }

    
    .title{
        position:absolute;
        z-index:1;
        right:0;
        top:50px;
        font-size:2em;
        width:100%;
        text-align:center;

        @media(min-width:$sm){
            right:25px;
            top:50%;
            font-size:2em;
            width:30%;
            text-align:right;
        }

        h2{
            font-weight:500;
        }

        span{
            font-size:4em;
            font-weight:400;
        }
    }

    .yellow-shape{
        position:absolute;
        right:0;
        top:0;
        width: 100%;
        height:100%;
        background:rgba(236,200,67,0.85);
        -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);

        @media(min-width:$sm){
            width: 40%;
            -webkit-clip-path: polygon(52% 0, 100% 0, 100% 100%, 1% 100%);
            clip-path: polygon(52% 0, 100% 0, 100% 100%, 1% 100%);
        }
    }
}