.bold {
  font-weight: bold;
}

body {
  font-family: 'Playfair Display',sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8EBE9;
}

@media (min-width: 768px) {
  .main-container {
    min-height: 100vh;
    padding: 30px 0;
  }
}

@media (min-width: 1200px) {
  .main-container {
    padding: 0;
  }
}

.main-container .card {
  width: 90%;
  -webkit-box-shadow: 0px 10px 5px -6px #dbbd81;
  box-shadow: 0px 10px 5px -6px #dbbd81;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFF;
  color: #000;
}

@media (min-width: 768px) {
  .main-container .card {
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 990px) {
  .main-container .card {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .main-container .card {
    width: 60%;
    min-height: 700px;
  }
}

.main-container .card .left {
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-height: 200px;
  padding: 0;
  font-family: 'Roboto',sans-serif;
  color: #777;
}

@media (min-width: 768px) {
  .main-container .card .left {
    width: 30%;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    padding: 30px;
  }
}

.main-container .card .left .topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-weight: 700;
}

@media (min-width: 768px) {
  .main-container .card .left .topmenu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 0;
  }
}

.main-container .card .left .topmenu:hover {
  color: #000;
}

.main-container .card .left .topmenu span {
  margin-left: 10px;
  font-size: 0.8em;
}

.main-container .card .left .topmenu svg {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.main-container .card .left .topmenu svg:hover {
  fill: #000;
}

.main-container .card .right {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  padding: 0;
}

@media (min-width: 768px) {
  .main-container .card .right {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    width: 30%;
    padding: 5px;
  }
}

.main-container .card .right .topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Roboto',sans-serif;
}

@media (min-width: 768px) {
  .main-container .card .right .topmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-family: 'Roboto',sans-serif;
  }
}

.main-container .card .right .topmenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

.main-container .card .right .topmenu ul li {
  list-style-type: none;
  margin: 0 10px;
}

.main-container .card .right .topmenu ul li.active a {
  color: #000;
}

.main-container .card .right .topmenu ul li a {
  text-decoration: none;
  color: #777;
  font-weight: 700;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-size: 0.8em;
}

.main-container .card .right .topmenu ul li a:hover {
  color: #000;
}

.main-container .card .right .post-content {
  padding: 0 15px;
}

@media (min-width: 768px) {
  .main-container .card .right .post-content {
    padding: 0 50px;
  }
}

@media (min-width: 1200px) {
  .main-container .card .right .post-content {
    padding: 0 70px;
  }
}

.main-container .card .right .post-content h1 {
  font-size: 3.5em;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
}

@media (min-width: 768px) {
  .main-container .card .right .post-content h1 {
    margin: 1em 0;
  }
}

@media (min-width: 990px) {
  .main-container .card .right .post-content h1 {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .main-container .card .right .post-content h1 {
    margin: 1em 0 0 0;
  }
}

@media (min-width: 768px) {
  .main-container .card .right .post-content h1:after {
    content: "";
    display: inline-block;
    width: 90px;
    top: -10px;
    left: 10px;
    position: relative;
    height: 5px;
    background-color: #000;
  }
}

.main-container .card .right .post-content h3 {
  font-weight: 400;
}

.main-container .card .right .post-content .summary-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 768px) {
  .main-container .card .right .post-content .summary-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .main-container .card .right .post-content .summary-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-container .card .right .post-content .summary-container p {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  font-size: 1em;
  line-height: 1.3em;
  font-family: 'Roboto',sans-serif;
}

@media (min-width: 768px) {
  .main-container .card .right .post-content .summary-container p {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    width: 45%;
    font-size: 1.2em;
    line-height: 2em;
    margin-top: 0;
  }
}

@media (min-width: 990px) {
  .main-container .card .right .post-content .summary-container p {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  .main-container .card .right .post-content .summary-container p {
    font-size: 1.1em;
  }
}

.main-container .card .right .post-content .summary-container .summary-subcontainer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .main-container .card .right .post-content .summary-container .summary-subcontainer {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    width: 45%;
  }
}

.main-container .card .right .post-content .summary-container .summary-subcontainer img {
  cursor: pointer;
  width: 100%;
}

.main-container .card .right .post-content .summary-container .summary-subcontainer .play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
  border-radius: 100%;
  padding: 15px;
  background-color: rgba(204, 204, 204, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;
}

.main-container .card .right .post-content .summary-container .summary-subcontainer .play:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=styles.css.map */