* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
}

.main-container {
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#78ACCD), to(#78eeCD));
  background: linear-gradient(90deg, #78ACCD, #78eeCD);
}

.main-container .calendar {
  width: 100%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

@media (min-width: 768px) {
  .main-container .calendar {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .main-container .calendar {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .main-container .calendar {
    width: 25%;
  }
}

.main-container .calendar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #9D8D93;
  padding: 25px 20px 20px 20px;
  border-bottom: 1px solid #ccc;
}

.main-container .calendar-content {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.main-container .calendar-content p {
  width: 14%;
  -ms-flex-preferred-size: 14%;
      flex-basis: 14%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.main-container .calendar-content p:before {
  padding-top: 100%;
  content: "";
}

.main-container .calendar-content .disabled {
  color: #ccc;
}

.main-container .calendar-content .day {
  text-transform: uppercase;
  font-weight: bold;
  color: #9D8D93;
  font-size: 0.85em;
}

.main-container .calendar-content .featured {
  border-radius: 100%;
  position: relative;
}

.main-container .calendar-content .featured.orange {
  background-color: tomato;
  color: #FFF;
}

.main-container .calendar-content .featured.orange-outline {
  border: 2px solid tomato;
}

.main-container .calendar-content .featured.orange-outline:after {
  position: absolute;
  display: block;
  right: -10px;
  top: 0;
  width: 15px;
  height: 15px;
  padding: 4px;
  font-size: 0.8em;
  border-radius: 100%;
  content: "6";
  color: #fff;
  background: tomato;
}

.main-container .calendar-content .featured.purple-outline {
  border: 2px solid purple;
}

.main-container .calendar-content .featured.purple-outline:after {
  position: absolute;
  display: block;
  right: -10px;
  top: 0;
  width: 15px;
  height: 15px;
  padding: 4px;
  font-size: 0.8em;
  border-radius: 100%;
  content: "19";
  color: #fff;
  background: purple;
}

.main-container .calendar-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ccc;
  padding: 20px 25px 25px 20px;
  color: #333;
  font-size: 0.85em;
  font-weight: bold;
}

.main-container .calendar-footer .boton {
  border: 2px solid tomato;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  padding: 10px;
}
/*# sourceMappingURL=styles.css.map */