* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto',sans-serif;
}

.main-container {
  background: -webkit-gradient(linear, left top, right top, from(#4677f6), to(#0b48e4));
  background: linear-gradient(90deg, #4677f6 0%, #0b48e4 100%);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .main-container {
    padding: 0;
  }
}

.main-container .card {
  width: 95%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 20px 0px 20px;
  background: #FFF;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

@media (min-width: 768px) {
  .main-container .card {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .main-container .card {
    width: 22%;
  }
}

.main-container .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  margin-top: 10px;
}

.main-container .card .card-header img {
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.main-container .card .card-header img:hover {
  opacity: 1;
}

.main-container .card .card-map {
  position: static;
  background: url("img/map.png");
  -webkit-box-shadow: inset 0 0 0 2000px rgba(70, 119, 246, 0.75), 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0 0 0 2000px rgba(70, 119, 246, 0.75), 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  width: 100%;
  left: none;
  -webkit-transform: none;
          transform: none;
  color: #FFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 40px;
  margin-top: 20px;
  height: 150px;
}

@media (min-width: 768px) {
  .main-container .card .card-map {
    position: relative;
    background: url("img/map.png");
    width: calc(100% + 60px);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 30px 40px;
    margin-top: 20px;
    height: 150px;
  }
}

.main-container .card .card-map .card-map-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .card .card-map .card-map-progress .progress-line {
  width: 100%;
  height: 2px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, white), color-stop(20%, rgba(255, 255, 255, 0.5)));
  background: linear-gradient(90deg, white 25%, rgba(255, 255, 255, 0.5) 20%);
  margin: 0 15px;
  position: relative;
}

.main-container .card .card-map .card-map-progress .progress-line:before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 100%;
  background-color: #FFF;
  position: relative;
  top: -4px;
  left: -1px;
}

.main-container .card .card-map .card-map-progress .progress-line:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 100%;
  background-color: #FFF;
  position: absolute;
  top: -4px;
  right: -1px;
}

.main-container .card .card-map .card-map-progress .progress-line img {
  position: absolute;
  left: 20%;
  width: 20px;
  top: -25px;
}

.main-container .card .card-map .card-map-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .card .card-map .button {
  position: static;
  right: none;
  bottom: none;
  border-radius: 5px;
  background-color: #4677f6;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  -webkit-transition: .2s;
  transition: .2s;
}

@media (min-width: 768px) {
  .main-container .card .card-map .button {
    position: absolute;
    right: 30px;
    bottom: -20px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 0;
  }
}

.main-container .card .card-map .button a {
  color: #FFF;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .card .card-map .button:hover {
  background-color: rgba(70, 119, 246, 0.9);
}

.main-container .card .card-map p {
  font-weight: 500;
}

.main-container .card .card-instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.main-container .card .card-instructions .city-title {
  margin-bottom: 20px;
  font-weight: 500;
}

.main-container .card .card-instructions .instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.main-container .card .card-instructions .instruction.instruction-map {
  background-image: url("img/streetview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  background-position: bottom;
  position: relative;
  width: calc(100% + 20px);
  border-radius: 5px;
}

.main-container .card .card-instructions .instruction .instruction-data {
  margin-left: 20px;
}

.main-container .card .card-instructions .instruction .instruction-data p:first-child {
  color: #CCC;
  font-size: 0.8em;
}

.main-container .card .card-instructions .instruction .instruction-data p:last-child {
  font-weight: 500;
}

.main-container .card .card-instructions .instruction img {
  margin-left: 5px;
}
/*# sourceMappingURL=styles.css.map */