*{
    margin:0;
    padding:0;
    font-family:'Roboto',sans-serif;
}

.contenedor-principal{
    width:100%;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(90deg, #C9F8FE 0%, #C9AAEE 100%);
}

.card{
    width:95%;
    display:flex;
    margin:20px 0;
    flex-direction:column;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.left{
    width:100%;
    flex-basis:100%;
    flex-grow:0;
    display:flex;
    padding:20px 0;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-image:url('img/background.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.35);
    color:#fff;
}

.left h2{
    margin-bottom:15px;
}

.left a{
    margin-top:20px;
    color:#fff;
    text-decoration:none;
    background-color:rgba(106,168,151,0.7);
    border-radius:45px;
    padding:10px 30px 10px 30px;
    display:flex;
    align-items:center;
    transition:all 0.25s ease;
}

.left a:hover{
    background-color:rgba(106,168,151,1);
}

.right{
    width:100%;
    flex-basis:100%;
    flex-grow:0;
    display:flex;
    flex-direction:column;
    background-color:#fff;
    padding:35px;
    box-sizing:border-box;
}

.right .header{
    display:flex;
    justify-content:space-between;
    margin-bottom:30px;
}

.right .years{
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    font-size:1.3em;
    color:#ccc;
    margin-bottom:30px;
}

.right .years .active{
    color:#000;
}

.right .years p{
    transition:all 0.25s ease;
    cursor:pointer;
    margin-right:20px;
}

.right .years p:hover{
    color:#000;
}

.right .events .event{
    display:flex;
    align-items:center;
}

.event{
    margin-bottom:30px;
}

.event:last-child{
    margin-bottom:0;
}

.event img{
    width:40px;
    margin-right:auto;
    border-radius:100%;
}

.event > p{
    flex-basis:60%;
    font-weight:500;
}

.fecha{
    display:flex;
    margin-left:auto;
}

.fecha .dia{
    font-size:2.5em;
    font-weight:100;
    margin-right:10px;
}


.mes{
    display:flex;
    flex-direction:column;
    justify-content:center;
}


@media screen and (min-width:768px){
  
    .card{
        width:85%;
        display:flex;
        flex-direction:row;
    }

    .left{
        width:40%;
        flex-basis:40%;
        flex-grow:0;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }    

    .right{
        width:60%;
        flex-basis:60%;
        flex-grow:0;
        display:flex;
        flex-direction:column;
        padding:35px;
    }


}

@media screen and (min-width:992px){

    .card{
        width:80%;
        display:flex;
        flex-direction:row;
    }


    
}

@media screen and (min-width:1192px){

    .card{
        width:55%;
        display:flex;
        flex-direction:row;
    }

    .right .years{
        display:flex;
        font-size:1.3em;
        margin-bottom:30px;
    } 
    
    .right .years p:last-child{
        margin-right:0;
    }


}