* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
  color: #fff;
  font-size: 1.02em;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  background: #7e82e2;
  background: -webkit-gradient(linear, left bottom, left top, from(#7e82e2), to(#b884e5));
  background: linear-gradient(0deg, #7e82e2 0%, #b884e5 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 0;
}

.main-container .module {
  width: 90%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

@media (min-width: 768px) {
  .main-container .module {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .main-container .module {
    width: 30%;
  }
}

@media (min-width: 1192px) {
  .main-container .module {
    width: 20%;
  }
}

.main-container .module .tab .tab-header {
  background: #bb7eda;
  background: -webkit-gradient(linear, left top, right top, from(#bb7eda), to(#a779d1));
  background: linear-gradient(90deg, #bb7eda 0%, #a779d1 100%);
  padding-top: 30px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-container .module .tab .tab-header:before {
  content: "";
  width: 2px;
  height: 30px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 32px;
  top: 0;
  z-index: 0;
}

.main-container .module .tab .tab-header img.arrow {
  margin-left: auto;
}

.main-container .module .tab .tab-header img.ico {
  background-color: #fff;
  border-radius: 100%;
  padding: 5px;
  width: 15px;
  height: 15px;
  margin-right: 12px;
  position: relative;
  z-index: 1;
}

.main-container .module .tab .tab-content {
  background-color: #5f5280;
  position: relative;
}

.main-container .module .tab .tab-content:before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  position: absolute;
  left: 32px;
  top: 0;
  z-index: 0;
}

.main-container .module .tab .tab-content p {
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.75);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;
}

.main-container .module .tab .tab-content p:hover {
  color: #fff;
}

.main-container .module .tab .tab-content p:before {
  content: "";
  width: 7px;
  height: 7px;
  display: inline-block;
  background-color: #fff;
  border-radius: 100%;
  margin-right: 20px;
  margin-left: 10px;
  -webkit-box-shadow: 0px 0px 0px 7px #5f5280;
  box-shadow: 0px 0px 0px 7px #5f5280;
  position: relative;
  z-index: 1;
}

.main-container .module .tab .tab-header, .main-container .module .tab .tab-content {
  padding-left: 20px;
  padding-right: 20px;
}
/*# sourceMappingURL=styles.css.map */