@charset "UTF-8";
body {
  overflow-x: hidden;
}

* {
  font-family: 'Roboto',sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  background-color: #DE8A89;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .secondary-container {
  width: 90%;
}

@media (min-width: 768px) {
  .main-container .secondary-container {
    width: 60%;
  }
}

.main-container .secondary-container .cloth-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .main-container .secondary-container .cloth-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 150px;
  }
}

.main-container .secondary-container .cloth-type h2 {
  margin-left: 0;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;
}

.main-container .secondary-container .cloth-type h2:hover {
  color: rgba(255, 255, 255, 0.75);
}

.main-container .secondary-container .cloth-type h2.active {
  color: white;
}

@media (min-width: 768px) {
  .main-container .secondary-container .cloth-type h2 {
    margin-left: 30px;
    font-size: 6em;
  }
  .main-container .secondary-container .cloth-type h2:first-child {
    margin-left: 0;
  }
}

.main-container .secondary-container .cloth-description {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .main-container .secondary-container .cloth-description {
    margin-top: 0px;
  }
}

.main-container .secondary-container .cloth-description p {
  color: #fff;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5em;
  width: 70%;
}

.main-container .secondary-container .cta#mobile {
  display: none;
}

.main-container .secondary-container .slider {
  margin-top: 50px;
  position: relative;
}

.main-container .secondary-container .slider .cloth-instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.main-container .secondary-container .slider .cloth-instructions:after, .main-container .secondary-container .slider .cloth-instructions:before {
  display: none;
}

@media (min-width: 768px) {
  .main-container .secondary-container .slider .cloth-instructions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-container .secondary-container .slider .cloth-instructions::before, .main-container .secondary-container .slider .cloth-instructions::after {
    background-color: rgba(255, 255, 255, 0.75);
  }
  .main-container .secondary-container .slider .cloth-instructions:before {
    content: "◀";
    display: inline-block;
    text-align: center;
    width: 100px;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: -100px;
    top: 0;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    z-index: 2;
  }
  .main-container .secondary-container .slider .cloth-instructions:after {
    content: "▶";
    display: inline-block;
    text-align: center;
    width: 100px;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: -100px;
    top: 0;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    z-index: 2;
  }
}

.main-container .secondary-container .slider .cloth-instructions .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 40px;
  min-height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .main-container .secondary-container .slider .cloth-instructions .col {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 80px;
    min-height: 350px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-container .secondary-container .slider .cloth-instructions .col:first-child {
  background-color: #3E3C3D;
  position: relative;
}

.main-container .secondary-container .slider .cloth-instructions .col:nth-child(2) {
  background-color: #353334;
}

.main-container .secondary-container .slider .cloth-instructions .col:last-child {
  background-color: #201E1F;
}

.main-container .secondary-container .slider .cloth-instructions .col .title {
  color: #DE8A89;
  font-size: 1.5em;
}

.main-container .secondary-container .slider .cloth-instructions .col .data {
  color: #fff;
  margin-top: 10px;
  font-size: 2.5em;
  font-weight: bold;
}

.main-container .secondary-container .slider .cloth-instructions .col .cta {
  display: none;
}

@media (min-width: 768px) {
  .main-container .secondary-container .slider .cloth-instructions .col .cta {
    display: block;
    position: absolute;
    bottom: -25px;
    left: 10%;
    width: 80%;
    background-color: #131313;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .main-container .secondary-container .slider .cloth-instructions .col .cta:hover {
    bottom: -18px;
  }
}
/*# sourceMappingURL=styles.css.map */