*{
    font-family:'Roboto',sans-serif;
    margin:0;
    padding:0;
}

$white:#F7F7F7;
$blue:#5288F4;

$sm: 768px;
$md: 992px;
$lg: 1200px;

.main-container{
    width:100%;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;

    .mobile-screen{
        width:100%;
        background:$white;

        @media(min-width:$sm){
            width:40%;
        }

        @media(min-width:$md){
            width:30%;
        }

        @media(min-width:$lg){
            width:25%;
        }

        .credit-card{
            text-align:center;
            position:relative;
            color:$white;

            h3{
                position:relative;
                z-index:1;
                padding-top:20px;
                font-weight:500;
            }

            .fondo{
                -webkit-clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 20%);
                clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 20%);
                background-color:$blue;
                width:100%;
                height:100%;
                position:absolute;
                display:block;
                z-index:0;
            }

            img{
                position:relative;
                z-index:1;    
                margin-top:15px;
                max-width:80%;
            }
        }

        .features{
            width:80%;
            margin:0 auto;

            .feature{
                width:100%;
                justify-content:center;
                display:flex;
                flex-direction:row;
                margin:30px 0;

                img{
                    margin-right:20px;
                }

                .button{
                    margin-left:auto;

                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 56px;
                        height: 30px;

                        input {
                            opacity: 0;
                            width: 0;
                            height: 0;

                            &:checked + .slider {
                                background-color: $blue;
                            }

                            &:checked + .slider:before {
                                -webkit-transform: translateX(26px);
                                -ms-transform: translateX(26px);
                                transform: translateX(26px);
                            }

                        }

                        .slider {
                            position: absolute; /* Sin esto no anda */
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #fff;
                            transition: 0.4s ease;
                            border-radius: 34px;  
                            border:1px solid #ccc;

                            &:before {
                                position: absolute;
                                content: "";
                                height: 28px;
                                width: 28px;
                                left:0;
                                bottom: 0px;
                                background-color: white;
                                -webkit-transition: .4s;
                                transition: .4s;
                                border-radius: 100%;
                                box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                                            0 2px 4px rgba(0,0,0,0.07), 
                                            0 4px 8px rgba(0,0,0,0.07), 
                                            0 8px 16px rgba(0,0,0,0.07),
                                            0 16px 32px rgba(0,0,0,0.07), 
                                            0 32px 64px rgba(0,0,0,0.07);    
                            }
                        }
                        
                      }
                }

                .feature-description{
                    margin-right:auto;

                    p{
                        font-weight:700;

                        &.small{
                            font-weight:500;
                            color:#aaa;
                            font-size:0.8em;
                        }
                    }
                    
                }
            }
        }

    }

}