/* MOBILE FIRST */
body {
  margin: 0;
  font-family: 'Roboto',sans-serif;
}

.contenedor-principal {
  width: 100%;
  min-height: 100vh;
  background: #cfdde8;
  background: -webkit-gradient(linear, left top, left bottom, from(#cfdde8), to(#82a0ba));
  background: linear-gradient(180deg, #cfdde8 0%, #82a0ba 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-principal .chat {
  width: 90%;
  background: #FFF;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedor-principal .chat .header {
  background-color: #5097db;
  color: #FFF;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.contenedor-principal .chat .header .status {
  width: 6px;
  height: 6px;
  background-color: #FFF;
  border-radius: 100%;
  margin-right: 10px;
}

.contenedor-principal .chat .header img {
  margin-left: auto;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.contenedor-principal .chat .header img:hover {
  opacity: 1;
}

.contenedor-principal .conversation {
  padding: 10px 20px;
}

.contenedor-principal .conversation .date p {
  color: #dee0e4;
  text-align: center;
  margin-top: 5px;
  font-size: 0.8em;
}

.contenedor-principal .conversation .date p:before, .contenedor-principal .conversation .date p:after {
  background-color: #dee0e4;
  content: "";
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 40%;
  height: 1px;
}

.contenedor-principal .conversation .date p:before {
  right: 0.5em;
}

.contenedor-principal .conversation .date p:right {
  left: 0.5em;
  margin-right: -50%;
}

.contenedor-principal .conversation .messages .message {
  font-size: 0.9em;
  position: relative;
  font-weight: 500;
}

.contenedor-principal .conversation .messages .message p.hora {
  color: #aaacb4;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

.contenedor-principal .conversation .messages .message p:last-child {
  padding: 10px;
  margin-top: 2px;
}

.contenedor-principal .conversation .messages .message.block {
  padding-top: 5px;
}

.contenedor-principal .conversation .messages .message.block p:last-child {
  background-color: #ffc2c1 !important;
}

.contenedor-principal .conversation .messages .message.left p:last-child {
  background-color: #e6edf6;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contenedor-principal .conversation .messages .message.left:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #e6edf6;
  position: absolute;
  left: -5px;
  top: 20px;
}

.contenedor-principal .conversation .messages .message.left .hora {
  text-align: left;
}

.contenedor-principal .conversation .messages .message.right p:last-child {
  background-color: #f2f2f2;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contenedor-principal .conversation .messages .message.right p:last-child:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f2f2f2;
  position: absolute;
  right: -5px;
  top: 20px;
}

.contenedor-principal .conversation .messages .message.right .hora {
  text-align: right;
}

.contenedor-principal .conversation form {
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor-principal .conversation form input {
  border: 0;
  padding: 15px 0;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.contenedor-principal .conversation form button {
  background: 0;
  border: 0;
  color: #5097db;
  letter-spacing: 5px;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contenedor-principal .chat {
    width: 60%;
  }
  .contenedor-principal .chat .message {
    max-width: 70%;
  }
  .contenedor-principal .chat .message.left {
    margin-right: auto;
  }
  .contenedor-principal .chat .message.right {
    margin-left: auto;
  }
  .contenedor-principal .chat .message p:last-child {
    display: inline-block;
  }
  .contenedor-principal .chat .message.block {
    text-align: right;
  }
}

@media screen and (min-width: 992px) {
  .contenedor-principal .chat {
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .contenedor-principal .chat {
    width: 20%;
  }
}
/*# sourceMappingURL=styles.css.map */