* {
  font-family: 'Roboto',sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: auto;
  position: relative;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

@media (min-width: 768px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 100vh;
    background-image: url("../img/watches.jpg");
    background-repeat: no-repeat;
    background-position: calc(100% + 300px) 120%;
    padding-right: 25%;
    padding-left: calc(27.5% - 200px);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-bottom: 1px solid #ccc;
    width: auto;
  }
}

.hero header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: static;
  width: 90%;
}

@media (min-width: 768px) {
  .hero header {
    position: absolute;
    top: 20px;
    width: calc(100% - 640px);
  }
}

.hero header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero header nav input {
  margin-left: 20px;
  border: none;
  border-bottom: 1px solid #82827c;
  color: #82827c;
  font-size: 1em;
  font-weight: 500;
}

.hero header nav li {
  list-style-type: none;
  margin-left: 20px;
}

.hero header nav li a {
  color: #9f9f9e;
  text-decoration: none;
  padding-bottom: 5px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-bottom: 2px solid #fff;
}

.hero header nav li a:hover {
  color: #333;
  border-bottom: 2px solid #333;
}

.info {
  margin: 0;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .info {
    margin: 50px 0;
    padding: 0 20%;
  }
}

.info .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .info .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.info .features .feature {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  color: #333333;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .info .features .feature {
    margin-top: 0;
  }
}

.info .features .feature a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: #D75153;
  font-size: 0.8em;
  text-decoration: none;
  margin-top: 25px;
}

.info .features .feature a:before {
  width: 35px;
  display: inline-block;
  height: 3px;
  content: "";
  margin-right: 8px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.info .features .feature a:hover:before {
  width: 45px;
}

.info .features .feature h3 {
  font-size: 1em;
}

.info .features .feature p {
  margin-top: 20px;
  line-height: 1.8em;
}

.info .features .feature span.dots {
  width: 4px;
  height: 4px;
  background-color: #9f9f9e;
  display: inline-block;
}

.info .features .feature span.dots:not(:first-of-type) {
  margin-left: 15px;
}

.info .sportband {
  margin-top: 70px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 768px) {
  .info .sportband {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.take-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/runners.jpg");
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 768px) {
  .take-control {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 20%;
  }
}

.take-control .column h2 {
  color: #fff;
}

.take-control .column p {
  border-left: 3px solid #fff;
  color: #fff;
}

.column {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 768px) {
  .column {
    width: 40%;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

.column h1 {
  font-size: 3em;
  color: #333333;
}

.column h2 {
  font-size: 3em;
}

.column img {
  width: 100%;
}

.column p {
  margin: 40px 0;
  color: #9f9f9e;
  border-left: 3px solid #9f9f9e;
  padding-left: 30px;
  font-weight: 500;
  line-height: 1.6em;
}

.column a.cta {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  background-color: #ea625c;
  padding: 13px 20px;
  display: inline-block;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.column a.cta:hover {
  background-color: #D75153;
}
/*# sourceMappingURL=main.css.map */