* {
  margin: 0;
  font-family: 'Roboto',sans-serif;
}

.mainContainer {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContainer__pasarela {
  width: 25%;
  background: #fff;
  margin: 0 auto;
  border-radius: 15px;
  padding: 0px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.mainContainer__pasarela .pasarela__stepSelector {
  margin: 20px auto;
  text-align: center;
}

.mainContainer__pasarela .pasarela__stepSelector .stepSelector {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  display: inline-block;
  margin: 0 2px;
  background-color: #dedede;
}

.mainContainer__pasarela .pasarela__stepSelector .stepSelector--on {
  background-color: #aaaaaa;
}

.mainContainer__pasarela .pasarela__title {
  text-align: center;
  font-weight: 500;
  padding-bottom: 10px;
}

.mainContainer__pasarela .pasarela__opcion {
  padding: 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ccc;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
}

.mainContainer__pasarela .pasarela__opcion:hover {
  background-color: #efefef;
}

.mainContainer__pasarela .pasarela__opcion .opcion__img {
  width: 60px;
  display: inline-block;
}

.mainContainer__pasarela .pasarela__opcion .opcion__nombre {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2px;
  color: #aaaaaa;
  margin-left: 15px;
}

.mainContainer__pasarela .pasarela__opcion .opcion__nombre--active {
  color: #000;
}

.mainContainer__pasarela .pasarela__opcion .opcion_img--check {
  position: absolute;
  right: 20px;
  width: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mainContainer__pasarela .pasarela__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5081d7;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

.mainContainer__pasarela .pasarela__boton .boton__flecha {
  width: 16px;
}

.mainContainer__pasarela .pasarela__boton:hover {
  background-color: #4b83f1;
}

.mainContainer__pasarela .pasarela__boton:active {
  top: 2px;
}

@media (max-width: 1200px) {
  .mainContainer__pasarela {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .mainContainer__pasarela {
    width: 90%;
  }
}
/*# sourceMappingURL=estilos.css.map */